<div id="modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
      <div class="box">
        <span class="title has-text-weight-bold is-inline-block">Cookie Consent</span>
          <p>We use cookies to improve user experience, and analyze website traffic. For these reasons, we may share your site usage data with our analytics partners. By clicking "Accept", you consent to store on your device all the technologies described in our <a href="/policies/cookie-policy/" target="_blank" class="has-text-weight-bold">Cookie Policy</a> 🍪.</p>
          <button id="agreeButton" class="button is-info has-text-weigt-bold mt-2">Accept 🍪</button>
      </div>
  </div>
</div>