{{ if eq .Params.schema "policy" }}

{{ else }}
<aside class="gdpr-banner card-bg p-5 box has-text-light" id="gdpr-banner">
  <span class="has-text-white has-text-weight-bold is-size-5">We use Clicky Analytics</span>
  <p class="py-5">This website uses Clicky Analytics to collect information about how you interact with it. We use this information to improve our website and make it more user-friendly.</p>
  <p>By clicking on the buttons below, you give us permission to use Clicky Analytics. You can also learn more about Clicky Analytics and how to opt out of tracking in our <a href="/policies/" target="_blank" class="has-text-success">Privacy Policy</a>.</p>
  <div class="buttons my-5">
      <button class="button is-success" id="cookies-ja">Allow</button>
      <button class="button is-primary is-outlined" id="cookies-nee">Opt Out</button>
    </div>
</aside>
{{ end }}