{{ partial "navbar.html" . }} {{ if .IsHome }}

<!-- homne Header-->
<div class="hero is-medium">
  <div class="hero-body">
    <div class="columns is-vcentered">
      <div class="column is-three-fifths is-offset-one-fifth has-text-centered">
        <h2 class="title is-1 has-text-weight-bold">
          Your Gateway to Practical <br />Tech Solutions
        </h2>
        <p>
          Pascobyte is your one-stop destination for easy-to-follow, practical
          tech solutions that help you solve your problems and get things done
          quickly. Explore the world of generative AI, gadgets, code, and my
          self-made Android apps, and discover free code samples and complete
          working tools for your convenience.
        </p>
      </div>
    </div>
  </div>
</div>

{{ else }}
<!-- page Header-->
<div class="hero is-medium">
  <div class="hero-body">
    <div class="columns is-vcentered">
      <div class="column is-three-fifths is-offset-one-fifth has-text-centered">
        <h1 class="title is-1">{{ .Title }}</h1>
        <p>
          {{ with .Params.description }} {{ . }} {{ else }} {{ .Summary |
          truncate 150 }} {{ end }}
        </p>
      </div>
    </div>
  </div>
</div>

{{ end }}
