<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="robots"
    content="index, follow, max-snippet:320, max-image-preview:large"
  />
  <!--
  <meta name="geo.region" content="NL">
  <meta name="geo.placename" content="Netherlands">
  <meta name="geo.position" content="52.1326° N;5.2913° E">
  <meta name="geo.region" content="NL">
  -->

  <link rel="stylesheet" href="{{ .Site.Params.main_css | absURL }}" />
  <link rel="stylesheet" href="{{ .Site.Params.secondary_css | absURL }}" />

  {{ if .IsHome }}

  <title>{{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}" />

  {{ else if eq .Params.type "post" }}
  <title>{{ .Title }}</title>
  <meta
    name="description"
    content="{{ with .Params.description }}
  {{ . }}
  {{ else }}
    {{ .Summary | truncate 150 }}
  {{ end }}"
  />
  {{ else }}
  <title>{{ .Title }} &#45; {{ .Site.Title }}</title>
  <meta
    name="description"
    content="{{ with .Params.description }}
  {{ . }}
  {{ else }}
    {{ .Summary | truncate 150 }}
  {{ end }}"
  />

  {{ end }}

  <link rel="canonical" href="{{ .Permalink }}" />
  {{ partial "icons.html" . }} {{ partial "social.html" . }} {{ partial
  "schema.html" . }}
</head>
