<link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/icons/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/icons/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ "/images/icons/android-chrome-192x192.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/icons/favicon-16x16.png" | absURL }}">
<link rel="manifest" href=" {{ "/images/icons/site.webmanifest" | absURL }}">
<link rel="mask-icon" href="{{ "/images/icons/safar i-pinned-tab.svg" | absURL }}" color="#0a192f">
<meta name="msapplication-TileColor" content="#0a192f">
<meta name="msapplication-TileImage" content="{{ "/images/icons/mstile-144x144.png" | absURL }}">
<meta name="theme-color" content="#0a192f">