<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.Params.logo | absURL }}" width="40" height="40">
      </a>
      {{ if .IsHome }}
      <h1 class="title is-5">{{ .Site.Title }}</h1>
      {{ else }}
      <p class="title is-5">{{ .Site.Title }}</p>
      {{ end }}
  
      <a role="button" class="navbar-burger" aria-label="toggle menu" aria-expanded="false" data-target="mainNav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="mainNav" class="navbar-menu">
      <div class="navbar-end">
        <a href="{{ "/ai/" | absURL }}" class="navbar-item">
          AI
          </a>
        <!--
          <a href="{{ "/tech/" | absURL }}" class="navbar-item">
            Tech Tales
          </a>

          <a href="{{ "/software/" | absURL }}" class="navbar-item">
            Software
          </a>
        -->
          <a href="{{ "/chatgpt/" | absURL }}" class="navbar-item">
            ChatGPT
        </a>
  
    
      </div>
  
     
    </div>
  </nav>



