<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.Params.logo | absURL }}" width="40" height="40">
      </a>
      {{ if .IsHome }}
      <h1 class="title is-5">{{ .Site.Title }}</h1>
      {{ else }}
      <h2 class="title is-5">{{ .Site.Title }}</h2>
      {{ end }}
  
      <a role="button" class="navbar-burger" aria-label="toggle menu" aria-expanded="false" data-target="mainNav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="mainNav" class="navbar-menu">
      <div class="navbar-end">
        <a href="{{ "/ai/" | absURL }}" class="navbar-item">
          AI
          </a>
        
          <a href="{{ "/swe/" | absURL }}" class="navbar-item">
            Software Development
          </a>

          <a href="{{ "/iot/" | absURL }}" class="navbar-item">
            Internet of Things
          </a>
      
          <a href="{{ "/cyber-sec/" | absURL }}" class="navbar-item">
            Cybersecurity
        </a>
  
    
      </div>
  
     
    </div>
  </nav>



