{{ if .IsHome }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Permalink }}",
    "description": "{{ .Site.Params.description }}",
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.Params.logo }}",
        "width": "2048",
        "height": "2048"
      }
    },
    "sameAs": [
      "{{ .Site.Params.twitter }}",
      "{{ .Site.Params.github }}",
      "{{ .Site.Params.opensea }}",
      "{{ .Site.Params.tiktok }}",
      "{{ .Site.Params.youtube }}"
    ]
  }
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "url": "{{ .Permalink }}",
    "name": "{{ .Site.Title }}",
    "description": "{{ .Site.Params.description }}",
    "image": "{{ .Site.Params.logo }}",
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "mainEntity": {
      "@type": "WebPageElement",
      "name": "{{ .Site.Params.headline }}",
      "description": "{{ .Site.Params.description }}",
      "url": "{{ .Permalink }}"
    },
    "potentialAction": {
      "@type": "CommentAction",
      "name": "Pick a Topic",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": [
          "/chatgpt/",
          "/policies/"
        ],
        "actionPlatform": [
          "http://schema.org/DesktopWebPlatform",
          "http://schema.org/IOSPlatform",
          "http://schema.org/AndroidPlatform"
        ]
      }
    }
  }
</script>

{{ end }} {{ if eq .Params.schema "list" }}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "CollectionPage",
    "name": "{{ .Title | plainify }}",
    "description": "{{ .Description }}",
    "url": "{{ .Permalink }}",
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "mainEntity": {
      "@type": "ItemList",
      "name": "{{ .Title | plainify }}",
      "itemListElement": [
        {{- $length := len .RegularPages -}}
        {{- range $index, $page := .RegularPages.ByDate.Reverse -}}
        {
          "@type": "ListItem",
          "position": {{ $index | add 1 }},
          "item": {
            "@type": "Article",
            "name": "{{ $page.Title }}",
            "headline": "{{ $page.Title }}",
            "image": "{{ $page.Params.thumbnail }}",
            "url": "{{ $page.Permalink }}",
            "description": "{{ $page.Description }}",
            "author": {
              "@type": "Person",
              "name": "{{ .Site.Title }}",
              "url": "{{ .Site.Params.bio }}"
            }
          }
        }{{- if ne $index (sub $length 1) -}},{{- end -}}
        {{- end -}}
      ]
    }
  }
</script>
{{ end }} {{ if eq .Params.schema "article" }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
    },
    "headline": "{{ .Title }}",
    "description": "{{ .Description }}",
    "articleBody": "{{ .Content | plainify }}",
    "image": "{{ .Params.thumbnail }}",
    "author": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.Params.bio }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.Params.logo }}"
      }
    },
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "keywords": {{ delimit .Params.keywords ", " }}
  }
</script>

{{ end }} {{ if eq .Params.schema "policy" }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "CreativeWork",
    "@id": "{{ .Permalink }}",
    "name": "{{ .Title }}",
    "datePublished": "2023-08-15",
    "description": "{{ .Description }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}"
    }
  }
</script>

{{ end }}
