{{ if .IsHome }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Permalink }}",
    "image": "{{ .Site.Params.logo | absURL }}",
    "mainEntity": [
      {
        "@type": "ItemList",
        "itemListElement": [
          {"@type": "ListItem", "position": 1, "name": "Artificial Intelligence", "url": "https://pascobyte.blog/ai/"},
          {"@type": "ListItem", "position": 2, "name": "Software Development", "url": "https://pascobyte.blog/swe/"},
          {"@type": "ListItem", "position": 3, "name": "Internet of Things (IoT)", "url": "https://pascobyte.blog/iot/"},
          {"@type": "ListItem", "position": 4, "name": "Cybersecurity", "url": "https://pascobyte.blog/cyber-sec/"}
        ]
      },
      {
        "@type": "CreativeWork",
        "text": "Feeling stuck or down in the code trenches? Remember, even the best programs started with a 'Hello World.' Embrace the bugs as stepping stones to mastery.",
        "author": "{{ .Site.Title }}",
        "datePublished": "{{ .Date.Format "2006-01-02" }}"
      },
      {
        "@type": "ItemList",
        "name": "Latest Tech Tales",
        "itemListElement": [
          {{- $posts := where .Site.RegularPages.ByDate.Reverse "Type" "post" | first 3 }}
          {{- range $index, $page := $posts -}}
          {
            "@type": "ListItem",
            "position": {{ $index | add 1 }},
            "item": {
              "@type": "BlogPosting",
              "name": "{{ $page.Title }}",
              "headline": "{{ $page.Title }}",
              "image": "{{ $page.Params.thumbnail }}",
              "url": "{{ $page.Permalink }}",
              "description": "{{ $page.Description }}",
              "author": {
                "@type": "Person",
                "name": "{{ .Site.Title }}",
                "url": "{{ .Site.Params.bio | absURL }}"
              },
              "datePublished": "{{ .Date }}",
              "dateModified": "{{ .Params.mod_date }}"
            }
          }{{- if ne $index (sub (len $posts) 1) -}},{{- end -}}
          {{- end -}}
        ]
      }
    ]
  }
  </script>

{{ end }} 


{{ if eq .Params.type "list" }}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ItemList",
    "name": "{{ .Title }}",
    "description": "{{ .Description }}",
    "url": "{{ .Permalink }}",
    "datePublished": "{{ .Date }}",
    "itemListElement": [
      {{- $length := len .RegularPages -}}
      {{- range $index, $page := .RegularPages.ByDate.Reverse -}}
        {
          "@type": "ListItem",
          "position": {{ $index | add 1 }},
          "item": {
            "@type": "BlogPosting",
            "name": "{{ $page.Title }}",
            "headline": "{{ $page.Title }}",
            "image": "{{ $page.Params.thumbnail }}",
            "url": "{{ $page.Permalink }}",
            "description": "{{ $page.Description }}",
            "author": {
              "@type": "Person",
              "name": "{{ .Site.Title }}",
              "url": "{{ .Site.Params.bio | absURL }}"
            },
            "datePublished": "{{ .Date }}",
            "dateModified": "{{ .Params.mod_date }}"
          }
        }{{- if ne $index (sub $length 1) -}},{{- end -}}
      {{- end -}}
    ]
  }
</script>
{{ end }} 

{{ if eq .Params.type "policylist" }}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ItemList",
    "name": "{{ .Title }}",
    "description": "{{ .Description }}",
    "url": "{{ .Permalink }}",
    "datePublished": "{{ .Date }}",
    "itemListElement": [
      {{- $length := len .RegularPages -}}
      {{- range $index, $page := .RegularPages.ByDate.Reverse -}}
        {
          "@type": "ListItem",
          "position": {{ $index | add 1 }},
          "item": {
            "@type": "WebPage",
            "name": "{{ $page.Title }}",
            "headline": "{{ $page.Title }}",
            "image": [
              {{- if $length }},
              {
                "@type": "ImageObject",
                "url": "{{ $page.Params.thumbnail }}",
                "height": {{ $page.Params.image_height }},
                "width": {{ $page.Params.image_width }}
              },
              {{- end -}}
              {
                "@type": "ImageObject",
                "url": "{{ $page.Content }}"
              }
            ],
            "url": "{{ $page.Permalink }}",
            "description": "{{ $page.Description }}",
            "author": {
              "@type": "Person",
              "name": "{{ .Site.Title }}",
              "url": "{{ .Site.Params.bio | absURL }}"
            },
            "datePublished": "{{ .Date }}",
            "dateModified": "{{ .Params.mod_date }}"
          }
        }{{- if ne $index (sub $length 1) -}},{{- end -}}
      {{- end -}}
    ]
  }
</script>
{{ end }} 

{{ if eq .Params.type "post" }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
    },
    "headline": "{{ .Title }}",
    "description": "{{ .Description }}",
    "articleBody": "{{ .Content }}",
    "image": "{{ .Params.thumbnail | absURL }}",
    "author": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.Params.bio | absURL }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.Params.logo | absURL }}"
      }
    },
    "datePublished": "{{ .Date }}",
    "dateModified": "{{ .Params.mod_date }}"
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebPage",
    "name": "{{ .Title }}",
    "speakable": {
      "@type": "SpeakableSpecification",
      "xPath": [
        "/html/body/header/section/div/div/div/h1",
        "//*[@id="content"]"
      ]
    },
    "url": "{{ .Permalink }}"
  }
  
</script>

{{ end }} 


{{ if eq .Params.type "page" }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "name": "{{ .Title }}",
    "description": "{{ .Description }}",
    "url": "{{ .Permalink }}",
    "inLanguage": "en-US",
    "isPartOf": {
      "@type": "WebSite",
      "url": "{{ .Site.BaseURL }}"
    },
    "about": {
      "@type": "{{ .Title }}",
      "name": "{{ .Title }}",
      "description": "{{ .Description }}"
    },
    "mainContentOfPage": {
      "@type": "WebPageElement",
      "cssSelector": "main"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.Params.logo | absURL }}"
    },
    "datePublished": "{{ .Date }}",
    "dateModified": "{{ .Params.mod_date }}",
    "license": "https://creativecommons.org/licenses/by/4.0/"
  }
  
</script>

{{ end }}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Event",
    "name": "Santa's Arrival Countdown",
    "startDate": "2023-12-17T16:52+02:00",
    "endDate": "2023-12-24T00:00+02:00",
    "description": "Join us in the magical countdown to Santa's grand arrival! Can't wait for Santa or having trouble remembering the date? Here's the enchanting time before Santa comes to town. Get ready for joy, laughter, and the warmth of the holiday season!",
    "location": {
      "@type": "Place",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}"
    },
    "eventStatus": "https://schema.org/EventScheduled",
    "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
    "organizer": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}"
    },
    "image": "{{ "/images/pascobyte-tech-christmas.webp" | absURL }}",
    "performer": {
      "@type": "PerformingGroup",
      "name": "Santa Claus"
    },
    "offers": {
      "@type": "Offer",
      "price": "0.00",
      "priceCurrency": "USD",
      "availability": "https://schema.org/InStock",
      "validFrom": "2023-12-17T16:52+02:00",
      "url": "{{ .Site.BaseURL }}"
    }
  }
  </script>

