.navbar-brand{
    align-items: center !important;
}
.navbar-item img{
    max-height: none !important;
}

.cta-bg{
    background: linear-gradient(rgba(0, 0, 0, .54), rgba(0, 0, 0, .74)), url('/images/pascobyte-tech-christmas.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#single-content p{
    margin-bottom: calc(1.5rem) !important;
}
#single-content h2{
    font-weight: bolder !important;
    margin-top: calc(3rem) !important;
    margin-bottom: calc(1.5rem) !important;
}
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}


.main-footer{
    ul{
        list-style: none !important;
    }
}