{{ define "main" }}

<div class="container">
  <div class="section">
    <div class="row columns is-multiline">
      {{ range .RegularPages.ByDate.Reverse }}
      <article class="column is-4">
        <div class="card large card-bg">
          <div class="card-image">
            <figure class="image is-16by9">
              <img
                src="{{ .Params.thumbnail | absURL }}"
                alt="{{ .Params.thumbnail_alt }}"
                loading="lazy"
                decoding="async"
                width="400"
                height="225"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="{{ .Permalink }}">
                <h3 class="title is-capitalized">{{ .Params.headline }}</h3>
              </a>
              <p class="has-text-light">{{ .Description }}</p>
            </div>
          </div>
        </div>
      </article>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
