<aside class="section pl-0">
  <small>
    <hr />
    <span class="title branding">Disclaimer:</span>
    <p class="py-3">
      The information contained in this article is for informational purposes
      only and should not be construed as legal or financial advice. The author
      does not guarantee the accuracy or completeness of the information, and
      the reader should rely on their own judgment when making any decisions.
      The author is not liable for any losses or damages that may arise from the
      use of this information.
    </p>
    <hr />
  </small>
</aside>
